.logo {
  margin-top: 100px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 70px;
  /* box-shadow: 0px 0px 30px #66491c; */
}

.logo:hover{    
  animation: jump 1s;
}

@keyframes jump{
  0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }

  40%{
      -webkit-transform: translateY(-15px);
      transform: translateY(-15%);
  }

  80%{
      -webkit-transform: translateY(-8px);
      transform: translateY(-8%);
  }
}

.logoText {
  background: linear-gradient(#e18700, #ffd43a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -12px;
  
}


@media screen and (max-width: 550px) {
  .logo {
    font-size: 60px;
  }  
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 50px;
  } 
}